<!doctype html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{- $title := .Params.seoTitle | default .Title }}
    {{- $description := plainify (markdownify .Description) }}
    {{ if .Params.noindex }}<meta name="robots" content="noindex">{{ end -}}
    <title>{{ if not .IsHome }}{{ $title }} | {{ end }}{{ .Site.Title }}</title>
    {{- with $description }}
    <meta name="description" content="{{ . }}">{{ end }}
    <meta name="color-scheme" content="light dark" id="cs">
    {{- $styles := resources.Get "style.scss" | toCSS | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" type="text/css">
    {{- $dark := resources.Get "dark.scss" | toCSS | fingerprint }}
    <link rel="stylesheet" href="{{ $dark.RelPermalink }}" type="text/css" media="screen and (prefers-color-scheme: dark)" id="ds">
    <script>var t=localStorage.getItem("p");if(!t)
t=window.matchMedia("(prefers-color-scheme: dark)").matches?"dark":"light";function d(){return t==="dark"}
function a(){localStorage.setItem("p",t);document.getElementById("cs").content=t;document.getElementById("ds").media=d()?"screen":"not all"}
a()</script>
    <link rel="canonical" href="{{ .Permalink }}">
    {{ block "head-hook" . }}{{ end }}

    {{- $img := absURL (.Params.img | default "/img/michele-consulente-web-semplicita-2x.jpg") }}
    <meta property="og:title" content="{{ $title }}">
    {{ with $description }}<meta property="og:description" content="{{ . }}">{{ end -}}
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:image" content="{{ $img }}">
    <meta property="og:locale" content="it_IT">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ $title }}">
    {{ with $description }}<meta name="twitter:description" content="{{ . }}">{{ end -}}
    <meta name="twitter:image" content="{{ $img }}">

    <link rel="icon" href="/favicon-32.png" type="image/png" sizes="32x32">
    <link rel="icon" href="/favicon-16.png" type="image/png" sizes="16x16">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180">
    <link rel="manifest" href="/site.webmanifest"><!--

    <link rel="alternate" href="{{ absURL "/feed.xml" }}" type="application/rss+xml"> -->
  </head>

  <body>
{{ partial "header" . }}
{{ block "main" . }}{{ end }}
{{ partial "footer" . }}
  </body>
</html>
