<!doctype html>
{{- $enHome := eq .Page (.Site.GetPage "page" "en") }}
{{- if $enHome }}

{{ "<!-- Heya! :3 -->" | safeHTML }}

{{ "<!-- Even though you're a web whiz, I can still help you: -->" | safeHTML }}

{{ "<!-- * Express the value of your mad skillz in a way non-techies will get. -->" | safeHTML }}
{{ "<!-- * Resist the urge to waste time on needlessly tweaking your site. -->" | safeHTML }}
{{ "<!-- * Focus on what really matters in your work (and life, I hope). -->" | safeHTML }}

{{ "<!-- These are only examples. Contact me to unleash my true powers. 🪄️ -->" | safeHTML }}

{{ "<!-- P.S. We may even collab. Check out #partnerships down the page! -->" | safeHTML }}
{{ end }}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{- $title := "Michele Nuzzolese – Simplicity Web Coach" }}
    {{- with .Title }}{{ $title = (printf "%s | %s" . $title) }}{{ end }}
    <title>{{ $title }}</title>
    {{- $description := plainify (markdownify .Description) }}
    {{- with $description }}
    <meta name="description" content="{{ . }}">{{ end }}
    <meta name="color-scheme" content="light dark" id="cs">
    {{- $styles := resources.Get "style.scss" | toCSS | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" type="text/css">
    {{- $dark := resources.Get "dark.scss" | toCSS | fingerprint }}
    <link rel="stylesheet" href="{{ $dark.RelPermalink }}" type="text/css" media="screen and (prefers-color-scheme: dark)" id="ds">
    <script>var t=localStorage.getItem("p");if(!t)
t=window.matchMedia("(prefers-color-scheme: dark)").matches?"dark":"light";function d(){return t==="dark"}
function a(){localStorage.setItem("p",t);document.getElementById("cs").content=t;document.getElementById("ds").media=d()?"screen":"not all"}
a()</script>
    <link rel="canonical" href="{{ .Permalink }}">

    {{- $img := absURL (.Params.img | default "/img/michele-consulente-web-semplicita-2x.jpg") }}
    <meta property="og:title" content="{{ $title }}">
    {{ with $description }}<meta property="og:description" content="{{ . }}">{{ end -}}
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:image" content="{{ $img }}">
    <meta property="og:locale" content="it_IT">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ $title }}">
    {{ with $description }}<meta name="twitter:description" content="{{ . }}">{{ end -}}
    <meta name="twitter:image" content="{{ $img }}">

    <link rel="icon" href="/favicon-32.png" type="image/png" sizes="32x32">
    <link rel="icon" href="/favicon-16.png" type="image/png" sizes="16x16">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180">
    <link rel="manifest" href="/site.webmanifest">
  </head>

  <body id="top">
    {{- $siteTitle := safeHTML "<strong>Michele</strong> Nuzzolese" }}
    {{- $siteTagline := safeHTML "<strong>Simplicity</strong> Web&nbsp;Coach" }}
    <header class="page-header en-layout">
      <div class="site-heading">
        {{- if $enHome }}
        <hgroup class="site-logo">
          <h1 class="site-title">{{ $siteTitle }}</h1>
          <p class="site-tagline">{{ $siteTagline }}</p>
        </hgroup>

        {{- else }}
        <a class="site-logo" href="/en/" aria-label="Homepage ({{ $siteTitle }} – {{ $siteTagline }})">
          <div class="site-title">{{ $siteTitle }}</div>
          <div class="site-tagline">{{ $siteTagline }}</div>
        </a>
        {{- end }}

        <div class="site-settings">

          <div class="language-selector">
            <a href="/" hreflang="it" lang="it" aria-label="Home italiana">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 480" width="24" height="24" aria-hidden="true">
                <path fill="#fff" d="M0 0h640v480H0z"/>
                <path fill="#009246" d="M0 0h213.3v480H0z"/>
                <path fill="#ce2b37" d="M426.7 0H640v480H426.7z"/>
                <rect fill="none" stroke="#222" stroke-width="23" width="640" height="480"/>
              </svg>
              <span class="tooltip">Vai alla Home italiana</span>
            </a>
          </div>

          <button id="ts" class="theme-switcher" style="display: none;" hidden>
            <span class="theme-moon" aria-hidden="true">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#dea" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
              <span class="tooltip">Switch to dark theme</span>
            </span>
            <span class="theme-sun" aria-hidden="true">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#ff8" stroke="#ff8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
              <span class="tooltip">Switch to light theme</span>
            </span>
          </button>
          <script>var b=document.getElementById("ts");function p(){b.setAttribute("aria-pressed",d());}p();b.setAttribute("aria-label","Dark theme");b.removeAttribute("hidden");b.style.display="inline-block";function s(){t=d()?"light":"dark";a();p();}b.onclick=s;</script>
        </div>
      </div>
    </header>

    <main class="page wrapper">
      {{ with .Title }}<h1>{{ safeHTML (markdownify .) }}</h1>{{ end }}
      {{ .Content }}
    </main>

    <footer class="page-footer en-layout">

      <p>Michele Nuzzolese – <em>Simplicity web coach</em></p>
      <p>VAT Number IT08799350726</p>

      <div class="footer-settings">
        <div>
          <button id="fts" class="theme-switcher" aria-label="Switch theme" style="display: none;" hidden>
            <span aria-hidden="true"><span class="theme-moon">🌚️ Dark</span><span class="theme-sun">🌞️ Light</span> theme</span>
          </button>       
        </div>
        <script>
        var c = document.getElementById("fts");c.style.display="inline-block";c.onclick=function () { s(); }
        </script>
        <a href="/" hreflang="it" lang="it" style="text-align: right;">
          Home italiana<span aria-hidden="true"> 🇮🇹️</span>
        </a>
      </div>

      <div class="footer-footer">
      <p><a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 999 999" width="24" height="24" fill= "currentColor" id="copyleft"><circle cx="490" cy="490" r="440" fill="none" stroke="currentColor" stroke-width="100"/><path d="M219,428H350a150,150 0 1 1 0,125H219a275,275 0 1 0 0-125z"/></svg> Copy<em>left</em> {{ now.Year }} (CC BY-SA 4.0</a>)</p>
      <p><a href="#top">Back to top<span aria-hidden="true"> 👆️</span></a></p>
      </div>

    </footer>
  </body>
</html>
