///** Colors **///

///* Main *///
$bg: #222;      // primary bg, primary color on ui elements
$bg2: #191919;  // alternate bg
$txt: #eee;     // primary text
$txt2: #acacac; // secondary text

///* Accents *///
$acctxt: #6c6;      // accent text, links
$accui: #373;       // ui elements main color
$accbg: #232c23;    // sidenote bg
$accbg2: #234221;   // menu bg, buttons bg

///* UI & Extras *///
$shadow: #111;
$bordersoft: #666;
$borderheavy: #bbb;
$markbg: #005d00;
$insbg: #004200;
$visited: #dea;
$active: #8e4;
$tagui: #cd9;
$tagbg: #2e2d16;
$tagbg2: #464223;

///* Boxes *///
$info: #69e;
$infobg: #223;
$ok: #6c3;
$okbg: #232;
$error: #e65;
$errorbg: #322;
$warning: #ed6;
$warningbg: #2e2d16;

html { accent-color: $accui; }
body { background-color: $bg; color: $txt; }
.page h2, .article h2 { border-left-color: $accui; }

.secondary-text { color: $txt2; }

a, a:link { color: $acctxt; }
a:visited { color: $visited; }
// a:hover { opacity: .8; }
a:active, a:visited:active { color: $active; opacity: 1; }
a:focus-visible { color: $acctxt; outline-color: $acctxt; }

figcaption { color: $txt2; }

details[open] { box-shadow: 2px 2px 4px 2px $shadow; }
summary { background-color: $bg2; }

mark { background-color: $markbg; color: $txt; }
del { color: $txt2; }
ins { background-color: $insbg; color: $txt; }
code { border-color: $bordersoft; color: $txt2; }
kbd { border-color: $bordersoft; background-color: $bg2; }
hr, hr::before, hr::after { background-color: $accui; }

/** HEADER **/

/* Skip Link */
a#salta { color: $txt; border-color: $acctxt; background-color: $bg; box-shadow: 0 0 .6rem .6rem $bg; }
a#salta:hover { background-color: $accbg2; }

.site-settings {
  & a, & a:link { color: $txt; }
  & a:focus-visible { outline-color: $acctxt; }
}
.theme-switcher { color: $txt; }
.theme-switcher:focus-visible { outline-color: $acctxt; }
.theme-sun { display: inline-block; }
.theme-moon { display: none; }
.tooltip { border-color: $bordersoft; background-color: $bg2; color: $txt; }

.site-logo { color: $txt !important; }
.site-logo strong { color: $acctxt; }
/* English adjustments */
.en-layout .site-tagline { color: $acctxt; & strong { color: $txt; } }

.main-menu {
  & nav { border-bottom-color: $accui; }
  & a, & a:link { color: $txt; }
  & a.active { background-color: $accbg; border-color: $accui; }
  & a:hover { background-color: $accbg2; }
  & a:active { color: $txt; opacity: .8; background-color: $accbg; }
  & a:focus-visible { outline: 3px $acctxt dotted; outline-offset: -6px; }
}

.page-footer { color: $txt2;
  &::before { border-top-color: $accui; }
  & a, & a:link { color: $txt; }
  & a:active { color: $active; }
  & a:focus-visible { color: $acctxt; }
}
.footer-menu { & a, & a:link { border-bottom-color: $borderheavy; } }
.footer-settings .theme-switcher:focus-visible { outline-color: $acctxt; }

#copyleft { color: $txt; }
#cuore { color: $active; }


/** UI COMPONENTS **/

.box {
  border-color: $bordersoft;
  background-color: $bg2;
  & > .box-label { color: $txt2; }
  &::before { opacity: .92; }
  &.sidenote { border-color: $accui; background-color: $accbg; }
  &.info {
    border-left-color: $info; background-color: $infobg;
    &::before { background-color: $info; }
  }
  &.ok {
    border-left-color: $ok; background-color: $okbg;
    &::before { background-color: $ok; }
  }
  &.error {
    border-left-color: $error; background-color: $errorbg;
    &::before { background-color: $error; }
  }
  &.warning {
    border-left-color: $warning; background-color: $warningbg;
    &::before { background-color: $warning; }
  }
  &.quote {
    border-left-color: $accui; background-color: $bg2;
    &::before { background-color: $accui; }
  }
}

ol.steps::before { border-left-color: $accui; }
ol.steps li::before { background-color: $accui; color: $txt; }

.cta-btn a {
  border-color: $accui;
  box-shadow: 0 4px 0 0 $accui;
  color: $txt;
  background-color: $accbg;
  &:active { color: $txt; }
  &:hover { background-color: $accbg2; }
}

.block-list li { border-bottom-color: $borderheavy; }
.block-list a:hover { background-color: $accbg; }

.serpentine .item { border-color: $accui; }

.fic { stroke: $txt; background-color: $accui; }

.altbg { background-color: $bg2; }
.sep { fill: $bg; background-color: $bg2; }

.cta-text > p:first-child { font-size: 1.6em; text-align: center; }
.cta-photo {
  box-shadow: 3px 3px 8px 3px $shadow;
  & img { border-bottom-color: $accui; }
  & figcaption { color: $txt; }
}
.card {
  box-shadow: 2px 2px 6px $shadow;
  background-color: $bg;
  border-color: $shadow;
  color: $txt;
  & h3::after { border-bottom-color: $accui; }
}
.services-container > .card > .price::after { border-bottom-color: $accui; }

.gallery figure::before { background-image: linear-gradient(to top, $bg2 23px, transparent); }
.gallery figcaption { color: $txt2; }
.img-squircle { box-shadow: 3px 3px 8px 3px $shadow; }
.propic { border-color: $borderheavy; }

.article-list { border-color: $bordersoft; }
.article-list > li > a {
  border-color: $bordersoft;
  background-color: $accbg;
  &:hover { background-color: $accbg2; }
  & > time { color: $txt2; }
  }
.article-metadata { border-color: $bordersoft; color: $txt2; }
.taxonomies {
  & a { color: $txt; }
  &.categories a {
    border-color: $accui;
    background-color: $accbg;
    &:hover { background-color: $accbg2; }
  }
  &.tags a {
    border-color: $tagui;
    background-color: $tagbg;
    &:hover { background-color: $tagbg2; }
  }
}

.wide-list img { border-color: $bordersoft; box-shadow: none; }
.dim img { filter: brightness(0.69) contrast(1.23); }
.undim img { filter: initial; }
