/***********************

Heya! :3

My CSS is probably never going to look "pretty", but this one has become a
"pretty huge" dump of poorly indented code. I'll refactor it "someday" (soon™).

If you're reading this, and you're not me: sorry about the mess. ¯\_(ツ)_/¯

If you are indeed me, as much more likely: please clean this up, will ya? :3

***********************/

///*** Variables ***///

///** Colors **///

///* Main *///
$bg: #fff;      // primary bg, primary color on ui elements
$bg2: #f0f2f3;  // alternate bg
$txt: #222;     // primary text
$txt2: #555;    // secondary text

///* Accents *///
$acctxt: #060;      // accent text, links
$accui: #390;       // ui elements main color
$accbg: #f3f9f0;    // buttons bg, sidenote bg
$accbg2: #d9f2d3;   // menu bg, highlight bg

///* UI & Extras *///
$shadow: #ccc;
$bordersoft: #ccc;
$borderheavy: #696969;
$markbg: #af6;
$insbg: #bea;
$visited: #743;
$tagui: #930;
$tagbg: #f9f3f0;
$tagbg2: #f2d9d3;

///* Boxes *///
$info: #06f;
$infobg: #f0f6ff;
$ok: #390;
$okbg: #f3f9f0;
$error: #c00;
$errorbg: #fcf0f0;
$warning: #da0;
$warningbg: #fffcf3;

///** Layout **///

// S: single column, up to 36rem (648px @ 18px)
// M: content limited to 36rem, layout up to 100%
// L: layout limited to 60rem (1200px @ 20px)

///* Breakpoints */// in px because rem doesn't consider html font-size
// $bm: 648px;       // viewport >= 36rem @ 18px
// $bl: 1200px;      // viewport >= 60rem @ 20px

$maxcol: 38rem;
$layout: 62rem;

///* White Space *///
$ws: .6rem;   // reduced whitespace unit
$wm: 1rem;    // standard whitespace unit

/*** GLOBAL DEFAULTS ***/

/** Normalize & Set Sensible Defaults **/
*, *::before, *::after { box-sizing: inherit; }

/* HTML5 elements display compatibility support */
article, aside, details, figcaption, figure, footer, header, main, nav, section { display: block; margin: 0; padding: 0; }

/* https://github.com/necolas/normalize.css#extended-details-and-known-issues */
pre, code, kbd, samp { font-family: monospace, monospace; font-size: 1em; }

/* Prevent `sub` and `sup` elements from affecting the line height */
sub, sup {
  position: relative;
  font-size: .75em;
  line-height: 0;
  vertical-align: baseline;
}
sub { bottom: -0.25em; }
sup { top: -0.5em; }

/** Global Structure **/
html {
  accent-color: $accui;
  box-sizing: border-box;
  // color-scheme: light;   /* better in html meta tag */
  margin: 0;
  padding: 0;
  // height: 100%;
  font: 16px/1.5 Ubuntu, Arial, system-ui, -apple-system, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  // min-height: 100%;
  background: $bg;
  color: $txt;
}

/** Headings **/
h1 {
  margin: .75em 0;
  font-size: 2em;
  line-height: 1.2;
  font-weight: bold;
}
h2 {
  margin: 1.15em 0 .85em 0;
  font-size: 1.75em;
  line-height: 1.3;
  font-weight: bold;
}
.page h2, .article h2 {
  padding-left: .8em;
  border-left: .4em $accui solid;
}
h3 {
  margin: 1.1em 0 .9em 0;
  font-size: 1.44em;
  line-height: 1.4;
  font-weight: bold;
}
h4 {
  margin: 1.25em 0 1.1em 0;
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: bold;
}

/** Paragraphs & Text **/
p { margin: 1.25em 0; }
small, .small-text { font-size: .875em; }
.big-text { font-size: 1.2em; }
.secondary-text { color: $txt2; }
.emphasis { font-size: 1.25em; font-style: italic; text-align: center; }
.screen-reader-text {
  position: absolute;
  left: -999px;
  top: -999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}


/** Links **/
a, a:link { color: $acctxt; text-decoration: underline; }
a:visited { color: $visited; }
a:hover { text-decoration: none; opacity: .8; }
a:active, a:visited:active { color: $accui; text-decoration: none;  }
a:focus-visible { color: $acctxt; outline: 3px $acctxt dotted; outline-offset: 2px; text-decoration: none;  }

nav a, nav a:link { text-decoration: none; }

/** Lists **/
ul, ol { margin: 1.25em 0 1.25em $ws; padding: 0; } // std left margin
li { margin: .75em 0 0 1em; padding: 0; } // allow space for list marker
li > ul, li > ol { margin: 0; }
li li { margin-top: .25em; }
.no-list { list-style-type: none; padding-left: 0; }

/** Figures **/
figure { margin: 2em auto; }
figcaption {
  padding: 1em $ws;
  font-size: .875em;
  text-align: center;
  color: $txt2;
}

/** Media **/
img, video { display: block; margin: 0 auto; max-width: 100%; height: auto; }
img { border-radius: 3px; font-size: .8em; overflow: auto; } // for alt-text not to break layout

/** Blockquotes **/
blockquote {
  position: relative;
  margin: 2.3em $ws;
  padding: .92em 0 .6em;
  text-indent: .42rem;
  & > p { text-indent: 0; }
  & > p:first-of-type { margin-top: 0; text-indent: .42rem;}
  & > p:last-of-type { margin-bottom: 0; }
  &::before, &::after {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    -webkit-mask-position: right;
    mask-position: right;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: currentColor;
    opacity: .042;
    pointer-events: none;
  }
  &::before {
    top: -.92em;
    left: -.69em;
    -webkit-mask-image: url('/img/svg/quote-left.svg');
    mask-image: url('/img/svg/quote-left.svg');
    width: 4.2em;
    height: 4.2em;
  }
  &::after {
    bottom: -.23em;
    right: -.69em;
    -webkit-mask-image: url('/img/svg/quote-right.svg');
    mask-image: url('/img/svg/quote-right.svg');
    width: 2.3em;
    height: 2.3em;
  }
}
figure > blockquote { margin: 0; }
figure > blockquote + figcaption { padding: 0; text-align: right; }

/** Details **/
details {
  margin: $ws 0;
  border-radius: 6px;
  &[open] { box-shadow: 2px 2px 6px 0 $shadow; }
  & > div { font-size: .95em; padding: 1px $ws; }
}
summary {
  margin: 0;
  padding: $ws;
  cursor: pointer;
  border-radius: 6px;
  background-color: $bg2;
  & > h2, & > h3, & > h4 { display: inline; font-size: 1em; }
}

/** Other Inline Elements **/
cite { font-style: italic; }
mark { background: $markbg; color: $txt; }
del { text-decoration: line-through; color: $txt2; }
ins { text-decoration: none; background: $insbg; color: $txt; }
pre { white-space: pre-wrap; word-wrap: break-word; overflow-wrap: anywhere; }
code {
  font-size: .9em;
  font-style: normal; // reset to stop inheritance
  font-weight: 400;   // reset to stop inheritance
  padding: 1px 3px;
  margin: 0 3px;
  border: 1px $bordersoft solid;
  color: $txt2;
}
pre code { padding:0; margin: 0; border: 0; }
a code { color: inherit; }
kbd {
  padding: 1px 3px;
  margin: 0 2px;
  font-size: 0.8em;
  white-space: nowrap;
  border: 1px solid;
  border-bottom-width: 2px;
  border-radius: 3px;
  border-color: $bordersoft;
  background-color: $bg2;
}

/** Horizontal Ruler **/
@mixin dot {
  display: block;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  border: 0;
  background-color: $accui;
}
hr {
  overflow: visible;
  position: relative;
  margin: 2rem auto 2.5rem;
  @include dot();
  &::before {
    content: "";
    left: -1.75rem;
    position: absolute;
    @include dot();
  }
  &::after {
    content: "";
    position: absolute;
    left: 1.75rem;
    @include dot();
  }
}


/** HEADER **/

/* Skip Link */
a#salta {
  margin: $ws;
  padding: .4em;
  font-size: .9em;
  position: absolute;
  top: -69px;
  left: -69px;
  z-index: 69;
  border-radius: 8px;
  border: 2px $acctxt solid;
  background-color: $bg;
  color: $txt;
  box-shadow: 0 0 $ws $ws $bg;
  &:focus {
    position: absolute;
    left: 0;
    top: 0;
    text-decoration: none;
    outline: none;
  }
  &:hover {
    opacity: 1;
    background-color: $accbg;
  }
}

.page-header {
  margin: $ws auto 2em;
  padding: 0;
  text-align: center;
}

.site-heading {
  display: inline-block; // flex fallback
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-logo {
  display: inline-block; // flex fallback
  flex-grow: 1;
  margin: 0 $ws;
  text-align: left;
  text-decoration: none !important;
  color: $txt !important;
  & strong { color: $acctxt; }
}
.site-title {
  margin: 0;
  padding-bottom: .23em;
  font-size: 1.2em;
  line-height: 1;
  font-weight: bold;
  font-variant: small-caps;
  & strong { font-size: 1.25em; }
}
.site-tagline {
  margin: 0;
  line-height: 1.2;
  font-size: .875em;
  font-weight: normal;
  font-style: italic;
}
/* English adjustments */
.en-layout .site-tagline { color: $acctxt; & strong { color: $txt; } }


.site-settings {
  display: inline-block; // flex fallback
  display: flex;
  align-items: center;
  & a, & button {
    position: relative;
    padding: 12px;
    font-size: .8em;
    line-height: 1;
    text-align: center;
  }
  & svg { width: 24px; height: 24px; }
  & a, & a:link { display: block; text-decoration: none; color: $txt; }
  & a:hover { opacity: 1; }
  & :focus-visible {
    border-radius: 8px;
    outline: 2px $acctxt solid;
    outline-offset: -4px;
  }
  & :focus .tooltip { z-index: 42; }
  & :hover .tooltip { z-index: 69; }
}
.language-selector {
  display: inline-block; // flex fallback
  & a:hover .tooltip, & a:focus-visible .tooltip { display: block; }
  &:hover svg { opacity: .8; }
  & .tooltip { top: 42px; right: -23px; }
}

.theme-switcher {
  display: inline-block;  // flex fallback – also reset by js
  border: 0;              // button reset
  background: none;       // button reset
  color: $txt;            // button reset
  cursor: pointer;
  touch-action: manipulation; // faster click event
  -webkit-tap-highlight-color: transparent; // remove iOS highlight 
  &:hover svg { opacity: .8; }
  & .tooltip { top: 42px; right: 12px; }
  &:hover .tooltip, &:focus-visible .tooltip { display: block; }
}
.theme-sun { display: none; }
.theme-moon { display: inline-block; }
.tooltip {
  display: none;
  position: absolute;
  white-space: nowrap;
  padding: .3em;
  border-radius: 4px;
  border: 1px transparent solid;
  background-color: $txt;
  color: $bg2;
  z-index: 23;
}

.main-menu {
  display: inline-block; // flex fallback
  display: flex;
  margin: 2*$ws $ws 0;
  padding: 0;
  font-size: .9em;
  line-height: 1.2;
  & nav {
    display: inline-block; // flex fallback
    display: flex;
    align-items: end;
    justify-content: space-between;
    border-bottom: 3px $accui solid;
    flex-grow: 1;
  }
  & a, & a:link {
    flex: 1 1 auto;
    display: inline-block;
    padding: .92em .69em;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border: 1px transparent solid;
    border-bottom: 0;
    background-color: transparent;
    color: $txt;
  }
  & a.active { background-color: $accbg; border-color: $accui; }
  & a:hover { background-color: $accbg2; opacity: 1; }
  & a:active { color: $acctxt; background-color: $accbg; }
  & a:focus-visible { outline: 3px $acctxt dotted; outline-offset: -6px; }
}


/** FOOTER**/

.page-footer {
  margin: 5rem auto 2.3rem;
  padding: 0 $ws;
  font-size: .9em;
  text-align: center;
  color: $txt2;
  &::before {
    content: "";
    display: block;
    margin: 1.2rem;
    border-top: .4rem $accui dotted;
  }

  & section { padding: 0; margin: 2.3rem 0; }
  & p { margin: .6em 0; }
  & a, & a:link { color: $txt; text-decoration: none; }
  & a:active { color: $accui; }
  & a:focus-visible { color: $acctxt; }
}

.footer-menu {
  margin: 0 auto 2em;
  max-width: 20em;
  display: block;
  text-align: center;
  & a, & a:link {
    display: block;
    padding: 1em;
    border-bottom: 1px dotted $borderheavy;
  }
  & a:focus-visible { outline-offset: -6px; }
}

.footer-settings {
  margin: 2em auto;
  max-width: 38rem;
  display: flex;
  justify-content: space-between;
  & .theme-switcher { margin-right: 4.2em; padding: 0; font-size: 1em; }
  & .theme-switcher:hover { opacity: .8; }
  & .theme-switcher:focus-visible {
    border-radius: 2px;
    outline-offset: 3px;
    outline: 2px solid $acctxt;
  }
}

#copyleft {
  width: 1.23em;
  height: 1.23em;
  vertical-align: middle;
  vertical-align: text-bottom;
  color: $txt;
}

#cuore {
  text-decoration: none;
  font-size: 1.5em;
  line-height: 0;
  position: relative;
  top: 3px;
  color: $accui;
}

/** UI COMPONENTS **/

.box {
  position: relative;
  margin: 2.3em 0;
  padding: .8em;
  font-size: .9em;
  border-radius: 4px;
  border: 1px $bordersoft solid;
  border-left-width: 4px;
  background: $bg2;

  & > :first-child { margin-top: 0; }
  & > :last-child { margin-bottom: 0; }

  & > .box-label {
    margin: 0 0 .6em;
    position: relative;
    top: -.6em;
    left: -.6em;
    font-size: .85em;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
    color: $txt2;
  }
  & > .box-title { margin-top: 0; font-size: 1.2em; font-weight: bold; }

  &::before {
    content: "";
    float: right;
    margin: -.7em -.7em 0 .5em;
    height: 24px;
    width: 24px;
    -webkit-mask-position: right;
    mask-position: right;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    opacity: .69;
  }

  &.sidenote {
    border-radius: 0;
    border: 2px $accui dashed;
    background: $accbg;
    &::before { display: none; }
  }

  &.info {
    border-left-color: $info;
    background: $infobg;
    &::before {
      -webkit-mask-image: url('/img/svg/info.svg');
      mask-image: url('/img/svg/info.svg');
      background: $info;
    }
  }

  &.ok {
    border-left-color: $ok;
    background: $okbg;
    &::before {
      -webkit-mask-image: url('/img/svg/ok.svg');
      mask-image: url('/img/svg/ok.svg');
      background: $ok;
    }
  }

  &.error {
    border-left-color: $error;
    background: $errorbg;
    &::before {
      -webkit-mask-image: url('/img/svg/error.svg');
      mask-image: url('/img/svg/error.svg');
      background: $error;
    }
  }

  &.warning {
    border-left-color: $warning;
    background: $warningbg;
    &::before {
      -webkit-mask-image: url('/img/svg/warning.svg');
      mask-image: url('/img/svg/warning.svg');
      background: $warning;
    }
  }

  &.quote {
    border-left-color: $accui;
    background: $bg2;
    &::before {
      -webkit-mask-image: url('/img/svg/quote.svg');
      mask-image: url('/img/svg/quote.svg');
      background: $accui;
    }
  }
}

ol.steps {
  position: relative;
  counter-reset: li;
  list-style: none;
  *list-style: decimal; /* IE6/7 fix */
  padding: 0;
  margin-bottom: 2em;
  
  &::before {
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      left: .9em;
      top: 0;
      border-left: .2em solid $accui;
    }
    
  & li {
    position: relative;
    display: block;
    margin: 0 0 0 2.6em;
    padding-top: .75em;
    & p { font-size: .9em; }
    & p:first-child { margin-top: .5em; }
    &:last-child { padding-bottom: .01em; }
  }

  & li::before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.6em;
    top: 1em;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    background: $accui;
    color: $bg;
  }
}

.wide-list { margin-left: 0; list-style-position: inside;
& li { margin: 0; & > :first-child { display: inline; } }
& img { border: 1px solid $bordersoft; box-shadow: 2px 2px 4px $shadow; }
}

.cta-btn {
  margin: 3em 0;
  text-align: center;
  & small { display: block; margin-top: .8em; font-style: italic; }
  & a {
    display: inline-block;
    margin: 0 auto;
    padding: .6em 1em;
    min-width: 9em;
    text-decoration: none;
    border-radius: 8px;
    border: 2px $accui solid;
    box-shadow: 0 4px 0 0 $accui;
    color: $txt;
    background-color: $accbg;
    &:active {
      transform: translate(0, 4px);
      -webkit-transform: translate(0, 4px);
      box-shadow: 0 0 0 0;
      color: $txt;
    }
    &:hover { background-color: $accbg2; opacity: 1; }
    &:focus-visible { outline-offset: -.5em; }
  }
}

.block-list {
  display: block;
  margin: 1em auto;
  padding: 0 1em;
  max-width: 100%;
  font-size: .9em;
  & li { border-bottom: 2px $borderheavy dotted; }
  & a {
    display: block;
    padding: .6em 0;
    text-decoration: none;
    &:hover { background-color: $accbg; opacity: 1; }
  }
}

.whyme-list {
  list-style-type: "→ ";
  margin: 0 auto;
  max-width: max-content;
  & .big-text { margin-bottom: 0; }
  & .small-text { margin-top: .6em; }
}

.features-list {
  list-style: none;
  margin: 0;
  & li { margin-left: 0; }
  & li::before { content: "→ "; }
}

.serpentine {
  & .item { margin: 0; padding: 1.8rem 1.23rem; border: 4px $accui dashed; border-top: 0; }
  & .item:last-child { border-bottom: 0; }
  & .left { padding-right: 2.42rem; border-right: 0; }
  & .right { padding-left: 2.42rem; border-left: 0; }
}

/*** MAIN PAGES ***/

/** Common Classes **/

.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 0 $ws;
  max-width: $maxcol;
}
.layout { max-width: $maxcol; }

.fic { // = Feather Inline Circle
  padding: .25em;
  vertical-align: -.4em;
  width: 1.5em;   // override svg attribute width
  height: 1.5em;  // override svg attribute height
  border-radius: 50%;
  stroke-width: 2.3px;
  stroke: $bg;
  background: $accui;
  &.big {
    font-size: 1.25em;
    vertical-align: -.5em;
  }
  &.bigger {
    font-size: 1.5em;
    vertical-align: -.6em;
  }
}

.emoji { font-style: normal !important; }

/** Default Layouts **/

.page section {
  padding: 1.6rem 0;
  &:first-of-type { padding-top: 0; }
  &:last-of-type { padding-bottom: 0; }
  & > h2 { margin: 0 0 2.3rem; }
}

.list h1, .list h2, .list h3 { text-align: center; }

.article-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px $bordersoft solid;
  border-bottom: 0;
  & > li {
    margin: 0;
    padding: 0;
    & > a {
      display: block;
      display: flex;
      align-items: baseline;
      padding: .8em;
      text-decoration: none;
      border-bottom: 1px $bordersoft solid;
      background-color: $accbg;
      &:hover { opacity: 1; background-color: $accbg2; }
      & > time {
        flex-shrink: 0;
        font-family: monospace;
        font-size: .8em;
        margin-right: 1.23em;
        color: $txt2;
      }
    }
  }
}

.article-title {
  font-size: 1.75em;
  margin-bottom: 0;
}
.article-metadata {
  margin-bottom: 2.3em;
  border-bottom: 1px $bordersoft solid;
  color: $txt2;
  & b { text-transform: uppercase; font-size: .9rem; }
}
.article-description { font-size: 1.2em; }

.taxonomies {
  margin: .6em 0;
  & a {
    display: inline-block;
    min-width: 69px;
    margin: .69em .23em;
    padding: .69em .42em;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    border: 1px transparent solid;
    color: $txt;
    &:hover { opacity: 1; }
  }

  &.categories a {
    border-color: $accui;
    background-color: $accbg;
    &:hover { background-color: $accbg2; }
  }
  &.tags a {
    border-color: $tagui;
    background-color: $tagbg;
    &:hover { background-color: $tagbg2; }
  }
  &.small-lbl { font-size: .85em; }
}

.category-card {
  margin-bottom: 2.3em;
  & > hgroup {
    margin: 0 auto;
    width: 69%;
    text-align: center;
    & > h2 {
      margin: 0;
      font-size: 1.23em;
      & > a { min-width: 92%; }
    }
    & > p {
      margin: -.3em auto .6em;
      font-style: italic;
    }
  }
}
.back-to { margin-right: 1em; text-align: right; }
.tag-card {
  margin-bottom: 2.3em;
  & > h2 {
    margin: 0;
    font-size: 1.23em;
    & > a { min-width: 9.2em; }
  }
}

/** Home **/

.home section {
  padding: 3rem 0;
  &:first-of-type { padding-top: 0; }
  &:last-of-type { padding-bottom: 0; }
}
.home h2 {
  margin: 0 0 1.2em 0;
  padding: 0;
  border: 0;
  text-align: center;
}
.home h3 { margin-top: 2em; text-align: center; }
.altbg { background: $bg2; }
.sep {
  display: block;
  width: 100%;
  height: 3rem;
  background: $bg2;
  fill: $bg;
}

.cta-text > h2 { font-size: 2em; margin: 1em 0; }
.cta-photo {
  max-width: 300px;
  border-radius: 16px;
  box-shadow: 3px 3px 8px 3px $shadow;
  & img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom: 10px $accui solid;
  }
  & figcaption {
    padding: 16px 8px;
    font-size: 16px;
    text-align: center;
    color: $txt;
    }
  & strong { font-size: 24px; line-height: 24px; font-variant: small-caps; }
}
/* Responsive CTA Section */
@media (min-width: 720px) {
  .cta-container {
    max-width: 969px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .cta-text {
    flex-grow: 1;
    display: inline-block; // flex fallback
    max-width: 569px;
    vertical-align: middle;
    & > h2 { font-size: 2.3em; }
  }
  .cta-photo {
    margin-left: 30px;
    margin-right: 0;
    flex-shrink: 0;
    display: inline-block; // flex fallback
    vertical-align: middle;
  }
}

.card {
  padding: .8em;
  margin: 1em auto;
  // max-width: 23em;
  text-align: center;
  border-radius: 4px;
  box-shadow: 2px 2px 6px $shadow;
  background: $bg;
  border: 1px $bordersoft solid;
  color: $txt;
  & h2, & h3 {
    margin: .5em 0 1.5em;
    font-size: 1.25em;
    text-align: center;
    font-weight: normal;
    border-left: 0;
    &::after {
      content: "";
      display: block;
      margin: 0 auto;
      width: 42%;
      max-width: 9em;
      padding-bottom: 1em;
      border-bottom: 6px $accui solid;
    }
  }
  & .cta-btn:last-of-type { margin-bottom: 1.23em; }
}

.services-container > .card {
  & > .price::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 23%;
    max-width: 9em;
    padding-bottom: 2em;
    border-bottom: 3px $accui solid;
  }
  & > blockquote { margin-bottom: 0; }
  & > .small-text { text-align: right; margin-bottom: 0; }
}
/* FAQs */
@media only screen and (min-width: 369px) {
  .faq h3 { display: flex; align-items: center; }
  .faq h3::after, .faq h3::before {
    content: "";
    flex: 1;
    height: 3px;
    margin: 0 .6rem;
    background: currentColor;
  }
}

/** Chi Sono **/

.clearfix::after { content: ""; display: table; clear: both; }

.introduction-container {
  margin-bottom: 0;
}
.propic {
  box-sizing: content-box;
  width: 160px;
  height: 160px;
  border: 3px $borderheavy solid;
  border-radius: 50%;
}
.introduction-txt { text-align: center; }
.introduction-txt h1 { margin: 1rem 0; }
@media (min-width: 469px) {
  .introduction-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .propic { flex-shrink: 0; float: left; margin-right: 30px; } // flex fallback
  .introduction-txt {
    flex-grow: 1;
    text-align: left;
    display: table-cell; // flex fallback
    vertical-align: top; // flex fallback
  }
}

.img-squircle {
  margin: 2em auto;
  border-radius: 8px;
  box-shadow: 3px 3px 8px 3px $shadow;
}
 .gallery {
  margin-top: 2em;
  text-align: center;
  & figure {
    position: relative;
    display: inline-block;
    margin: 5px;
    max-width: 150px;
    max-height: 150px;
    vertical-align: top; // fix for unavailable img
  }
  & figure::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 69px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-image: linear-gradient(to top, $txt 23px, transparent);
    opacity: .92;
  }
  & img { margin: 0; }
  & figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2px 3px;
    color: $bg2;
  }
  @media (min-width: 469px) and (max-width: 722px) {
    display: grid;
    grid-template-columns: 160px 160px;
    justify-content: center;
  }
}
/** Contatti **/

#m {
  margin: 1em 0 1.4em;
  font-size: 1.25rem;
  overflow-wrap: break-word;
  word-break: break-all;
}
#m i { display: none; }
#m a { padding: .8em 0; text-decoration: none; }
#m svg { margin-right: .2em; }


/*** BREAKPOINTS ***/

/** Font & Type Scale **/
@media (min-width: 360px) { html { font-size: 17px; } }  // viewport >= 21rem
@media (min-width: 420px) { html { font-size: 18px; } }  // viewport >= 23rem
@media (min-width: 722px) {   // viewport >= 38rem
  html { font-size: 19px; }
  h1 { font-size: 2.5em; margin: 1.2em 0; }
  h2 { font-size: 2em; }
  h3, { font-size: 1.5em; }
  h4 { font-size: 1.25em; }
  small, .small-text, figcaption { font-size: .8em; }
}
@media (min-width: 840px) { html { font-size: 20px; } }  // viewport >= 42rem
@media (min-width: 1680px) { html { font-size: 21px; } } // viewport >= 80rem

/** Layout **/
@media (min-width: 684px) { // M Layout – 38em @ 18px – 1col ~80cpl
  /* Adjust Global Margins & Paddings */
  ul, ol { margin-left: $wm; }
  li { margin-top: .5em; }
  figcaption { padding-left: $wm; padding-right: $wm; }
  blockquote { margin-left: $wm; margin-right: $wm; padding-top: 1.23em; }
  // figure > blockquote + figcaption { margin-left: $wm; padding: 0 0 0 $wm; }

  /** HEADER **/
  .page-header {
    margin-top: $wm;
    max-width: $layout;
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  a#salta { margin: $wm; }
  .site-heading { flex-shrink: 0; }
  .site-logo { margin: 0 $wm; text-align: left; }

  .main-menu {
    margin: 0 $wm; align-self: end;
    & nav { column-gap: $wm; }
    & nav a, & nav a:link { padding: .69em .42em; }
  }

  /** FOOTER **/
  .page-footer { padding: 0 $wm; max-width: $layout; }
  .footer-menu {
    max-width: 100%;
    & a, & a:link {
      display: inline-block;
      padding: 0;
      margin: 0 1em;
      border-bottom: none;
    }
    & a:focus-visible { outline-offset: 2px; }
  }

  /** ENGLISH **/
  .en-layout { display: block; max-width: $maxcol; }

  /** PAGES **/
  .wrapper { padding: 0 $wm; }
  .layout { max-width: $layout; }
  .cards-container {
    display: grid;
    gap: $wm;
    font-size: .9em;
  }
  .card { margin: 0; }
  .grid-2col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .services-container { grid-template-columns: repeat( 6, 1fr ); 
    & > .card { grid-column: span 3; }
    & > .card:last-child { grid-column: 2 / span 4; }
  }
  .footer-cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // & section { margin: 0; }
    & :first-child { text-align: left; }
    & :last-child { text-align: right; }
  }
  .category-card {
    margin: 1.23em;
    & > hgroup {
      width: 92%;
      & > h2 a { min-width: 9.2em; }
    }
  }
  .tag-card { margin: 1.23em; }

  /** COMPONENTS **/
  ol.timeline {
    margin-left: $wm; 
    margin-right: $wm;
      & li { margin-left: 3em; }
      & li::before { left: -3em; }
  }
  .whyme-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2em;
  }
  details { margin: $wm 0; & > div { padding: 1px $wm; } }
  summary { padding: $wm; }
}

@media (min-width: 1200px) { // L Layout – 60em @ 20px – 3x card (~40cpl)
  .cards-container { gap: 1.6rem; font-size: .9em; }
  .site-settings {
    margin: 0 .69em;
    align-items: start;
    & svg { width: 32px; height: 32px; }
    & a, & button { padding: .23rem .69em; margin: 0 .42em; }
    & :focus-visible { outline-offset: 0; }
    & .tooltip { right: unset; left: -42px; top: 2.3em; }
    & :focus-visible .tooltip { top: 2.3rem; }
  }
  .main-menu {
    & nav { column-gap: $wm; }
    & nav a, & nav a:link { padding: .69em 1em; }
  }

  .footer-footer { display: flex; justify-content: space-between;
    & p { flex: 1 1 0; }
    & p:first-child { text-align: left; }
    & p:last-child { text-align: right; }
  }
}

/* Header optimization */
@media (min-width: 684px) and (max-width: 769px) {
  .page-header { font-size: .92em; }
}
@media (max-width: 323px) {
  .site-heading { flex-wrap: wrap; }
}
@media (max-width: 242px) {
  .main-menu nav { flex-direction: column; align-items: stretch; border: 0; }
  .main-menu nav a:link { background: 0; border: 0; border-bottom: 1px dotted; }
  .main-menu nav a.active { font-weight: bold; border-bottom: 1px solid; }
}

/* English footer optimization */
@media (min-width: 369px) {
  .en-layout .footer-footer { display: flex; justify-content: space-between; }
}
