    <footer class="page-footer">
      <section>
        <nav class="footer-menu">
          {{- range .Site.Menus.footer }}
          <a href="{{ .PageRef }}">{{ .Name }}</a>
          {{- end }}
        </nav>

      <div class="footer-settings">
        <div>
          <button id="fts" class="theme-switcher" aria-label="Cambia tema" style="display: none;" hidden>
            <span aria-hidden="true"><span class="theme-moon">🌚️ Tema scuro</span><span class="theme-sun">🌞️ Tema chiaro</span></span>
          </button>
        </div>
        <script>
        var c = document.getElementById("fts");c.style.display="inline-block";c.onclick=function () { s(); }
        </script>
        <a href="/en/" hreflang="en" lang="en">
          English Homepage<span aria-hidden="true"> 🇬🇧</span>
        </a>
      </div>
      </section>

      <section class="footer-footer">
        <p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 999 999" width="24" height="24" fill= "currentColor" id="copyleft"><circle cx="490" cy="490" r="440" fill="none" stroke="currentColor" stroke-width="100"/><path d="M219,428H350a150,150 0 1 1 0,125H219a275,275 0 1 0 0-125z"/></svg> Copy<em>left</em> {{ now.Year }} (<a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/deed.it">Licenza CC BY-SA 4.0</a>)</p>

        <p><a href="/privacy">Privacy</a> | Partita IVA 08799350726</p>

        <p>Sito fatto a mano con <a id="cuore" href="/love/" arial-role="img" aria-label="amore">❤</a></p>
      </section>
    </footer>
