{{- $siteTitle := safeHTML "<strong>Michele</strong> Nuzzolese" -}}
{{- $siteTagline := safeHTML "Consulente&nbsp;web della&nbsp;<strong>semplicità</strong>" -}}

    <header class="page-header">
      <a id="salta" href="#inizio">Salta il menu</a>
      
      <div class="site-heading">
        {{- if .IsHome }}
        <hgroup class="site-logo">
          <h1 class="site-title">{{ $siteTitle }}</h1>
          <p class="site-tagline">{{ $siteTagline }}</p>
        </hgroup>

        {{- else }}
        <a class="site-logo" href="/" tabindex="-1" role="button" aria-disabled="true">
          <div class="site-title">{{ $siteTitle }}</div>
          <div class="site-tagline">{{ $siteTagline }}</div>
        </a>
        {{- end }}

        <div class="site-settings">

          <div class="language-selector">
            <a href="/en/" hreflang="en" lang="en" aria-label="English Homepage">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 480" width="24" height="24" aria-hidden="true">
                <path fill="#012169" d="M0 0h640v480H0z"/>
                <path fill="#FFF" d="m75 0 244 181L562 0h78v62L400 241l240 178v61h-80L320 301 81 480H0v-60l239-178L0 64V0h75z"/>
                <path fill="#C8102E" d="m424 281 216 159v40L369 281h55zm-184 20 6 35L54 480H0l240-179zM640 0v3L391 191l2-44L590 0h50zM0 0l239 176h-60L0 42V0z"/>
                <path fill="#FFF" d="M241 0v480h160V0H241zM0 160v160h640V160H0z"/>
                <path fill="#C8102E" d="M0 193v96h640v-96H0zM273 0v480h96V0h-96z"/>
                <rect fill="none" stroke="#222" stroke-width="23" width="640" height="480"/>
              </svg>
              <span class="tooltip">Go to the English homepage</span>
            </a>
          </div>

          <button id="ts" class="theme-switcher" style="display: none;" hidden>
            <span class="theme-moon" aria-hidden="true">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#dea" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
              <span class="tooltip">Passa al tema scuro</span>
            </span>
            <span class="theme-sun" aria-hidden="true">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#ff8" stroke="#ff8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
              <span class="tooltip">Passa al tema chiaro</span>
            </span>
          </button>
          <script>var b=document.getElementById("ts");function p(){b.setAttribute("aria-pressed",d());}p();b.setAttribute("aria-label","Tema scuro");b.removeAttribute("hidden");b.style.display="inline-block";function s(){t=d()?"light":"dark";a();p();}b.onclick=s;</script>
        </div>
      </div>

      <div class="main-menu">
        <nav>
        {{- $ctx := . }}
        {{- range .Site.Menus.main }}
          <a href="{{ .PageRef }}"
          {{- if (eq $ctx.RelPermalink .PageRef) }} class="active"{{ end -}}
          >{{ .Name }}</a>
        {{- end }}
        </nav>
      </div>
    </header>
