{{ define "main" }}
<main id="inizio" class="home">
{{- $cont := split .Content "<hr>" -}}

  <section id="cta">
    <div class="wrapper cta-container clearfix">
      <div class="cta-text">
        {{ safeHTML (index $cont 0) }}
      </div>
      <figure class="cta-photo">
        <img srcset="/img/michele-consulente-web-semplicita-4x.jpg 4x, /img/michele-consulente-web-semplicita-3x.jpg 3x, /img/michele-consulente-web-semplicita-2x.jpg 2x, /img/michele-consulente-web-semplicita.jpg 1x" src="/img/michele-consulente-web-semplicita.jpg" alt="" width="300" height="400">
        <figcaption>
          <strong>Michele Nuzzolese</strong>
          <br>Consulente web della semplicità
        </figcaption>
      </figure>
    </div>
  </section>

  <svg class="sep" style="display: block;" width="0" height="0" viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M0 0 C 42 69 42 69 100 0 Z"></path></svg>
  <section class="altbg">
    <div class="wrapper">
      {{ safeHTML (index $cont 1) }}
    </div>
  </section>
  <svg class="sep" style="display: block;" width="0" height="0" viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M0 100 C 23 23 42 42 100 100 Z"></path></svg>

  <section>
    <div class="wrapper">
      {{ safeHTML (index $cont 2) }}
    </div>
  </section>

  <svg class="sep" style="display: block;" width="0" height="0" viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M0 0 C 42 69 42 69 100 0 Z"></path></svg>
  <section class="altbg">
    <div class="wrapper">
      {{ safeHTML (index $cont 3) }}
    </div>
  </section>
  <svg class="sep" style="display: block;" width="0" height="0" viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M0 100 C 23 23 42 42 100 100 Z"></path></svg>

  <section>
    <div class="wrapper">
      {{ safeHTML (index $cont 4) }}
    </div>
  </section>

</main>
{{ end }}
