{{- /* A box component with a custom class and an optional title. */ -}}

{{- $class := .Get 0 -}}
{{- $title := .Get 1 -}}
<div class="box {{ $class }}">
  {{- with $title }}
  <p class="box-title">{{ markdownify . }}</p>
  {{- end }}
  {{ .Page.RenderString (dict "display" "block") .Inner -}}
</div>
