{{- /* A container with several cards, divided by the special sequence "<--->". 

Optionally in a custom container (via css classes). */ -}}

<div class="cards-container{{ with .Get 0 }} {{ . }}{{end}}">
{{- range split .Inner "<--->" }}
  <div class="card">
    {{ markdownify . -}}
  </div>
{{- end }}
</div>
