{{- /* A simple button with custom URL and CTA, plus optional extra text. */ -}}

{{- $url := .Get 0 -}}
{{- $cta := .Get 1 -}}
{{- $extra := .Get 2 -}}

<p class="cta-btn">
  <a href="{{ $url }}">{{ markdownify $cta }}</a>
  {{ with $extra }}<small>{{ markdownify . }}</small>{{ end }}
</p>
