{{- /***********************

HTML details element with a summary and a wrapper div. Optionally open.

Params:

* .Get 0: summary (string)
* .Get 1: open (bool)

***********************/ -}}

<details{{ if (.Get 1) }} open{{ end }}>
  <summary>
    {{ markdownify (.Get 0) -}}
  </summary>
  <div>
    {{ .Page.RenderString (dict "display" "block") .Inner -}}
  </div>
</details>
