{{- /***********************

Heya! :3

This shortcode is a monster. It was my first one. Little did I know...

The idea was nice, but the implementation grew unnecessarily messy.

I'd like to simplify this "someday" (soon™). ¯\_(ツ)_/¯

***********************/ -}}

<!--

Creates a semantic HTML5 blockquote with an attribution.

*** PARAMS ***

Pos | Name | Meaning
----|------|--------
  0 | a    | author
  1 | w    | work
  2 | d    | details
  3 | f    | format
  4 | u    | url
  5 | l    | linkOption
  6 | wa   | workAuthor
  - | c    | customHTML

*** NOTES ***

$customHTML trumps everything, skips all the logic, and puts the literal parameter directly inside the `figcaption` tag

$author: who said the quote
$work: the title of the source (inside `cite` tag)
  $details: about $work (outside `cite` tag)
    $format: to join $work & $details. Values: "(", ",", "["
  $url: to $work itself or relevant info about the quote
    $linkOption: to decide $url text. Values: "w" (work), "a" (all)
$workAuthor: real-life author of $work when $author is a fictional character

REQUIRED   : ($author || $work)
DEPENDENCY : $delimiter -> $details -> $work
DEPENDENCY : $linkOption -> $url -> $work
DEPENDENCY : $workAuthor -> ($author && $work)

*** FORMATS ***

$cite = $work + optional $details + optional $url

1. $cite: "The Beowulf" || "Sense8" (s1 ep8)
2. $author (real or fictional): Albert Einstein || Donald Duck
3. $author, $cite: Jon Jandai, "Life is easy. Why do we make it so hard?" || Bob Cody, "Interstate 60"
4. $author (from $cite by $workAuthor): Ketut (from "Eat, Pray, Love" by Elizabeth Gilbert)

-->

{{- /* Check for parameters and throw an error if there are none */ -}}
{{- if len .Params | eq 0 -}}
  {{- errorf "You can't use %q shortcode without parameters!" .Name -}}
{{- end -}}

{{- $customHTML := .Get "c" -}}
{{- $attribution := $customHTML -}} {{/* init HTML to put in figcaption */}}

{{- if not $customHTML -}} {{/* do all the logic to set $attribution */}}

  {{- /* DECLARATIONS */ -}}
  {{- $author     := "" -}}
  {{- $work       := "" -}}
  {{- $details    := "" -}}
  {{- $format     := "" -}}
  {{- $url        := "" -}}
  {{- $linkOption := "" -}}
  {{- $workAuthor := "" -}}

  {{- /* PARAMS INIT */ -}}
  {{- if .IsNamedParams -}}
    {{- /* Get by Name */ -}}
    {{- $author      = .Get "a" -}}
    {{- $work        = .Get "w" -}}
    {{- $details     = .Get "d" -}}
    {{- $format      = .Get "f" -}}
    {{- $url         = .Get "u" -}}
    {{- $linkOption  = .Get "l" -}}
    {{- $workAuthor  = .Get "wa" -}}
  {{- else -}}
    {{- /* Get by Position */ -}}
    {{- $author      = .Get 0 -}}
    {{- $work        = .Get 1 -}}
    {{- $details     = .Get 2 -}}
    {{- $format      = .Get 3 -}}
    {{- $url         = .Get 4 -}}
    {{- $linkOption  = .Get 5 -}}
    {{- $workAuthor  = .Get 6 -}}
  {{- end -}}

  {{- /* MINIMAL SANITY CHECK */ -}}
  {{- if not (or $author $work) -}}
  {{- errorf "Missing required params in %q shortcode! At least one between author (param \"a\", pos 0) and work (param \"w\", pos 1) must be set." .Name -}}
  {{- end -}}


  {{- /* BUILDING $cite STRING */ -}}
  {{- /* $cite = HTML for $work + optional $details + optional $url */ -}}
  {{- $cite := "" -}}
  {{- if $work -}}
    {{- $cite = printf "<cite>%s</cite>" $work -}}
    {{- $fdText := "" -}} {{/* formatted details text to append to $cite */}}
    {{- $urlText := "" -}} {{/* text to link to $url */}}
    
    {{- if $details -}} {{/* prepare $fdText according to $format */}}
      {{- $fdText = printf " (%s)" $details -}} {{/* set default first */}}
      {{- if eq $format "," -}} {{/* and change it only on specific match */}}
        {{- $fdText = printf ", %s" $details -}}
      {{- else if eq $format "[" -}}
        {{- $fdText = printf " [%s]" $details -}}
      {{- end -}}
    {{- end -}} {{/* at this point, $fdText is either formatted or empty */}}

    {{- if $url -}} {{/* prepare $urlText according to $linkOption */}}
      {{- $urlText = $cite -}} {{/* set default first (as $format" above) */}}
      {{- if eq $linkOption "a" -}}
        {{- $urlText = add $urlText $fdText -}}
        {{- $fdText = "" -}} {{/* reset $fdText, now included in $urlText*/}}
      {{- end -}}
      {{- /* link $urlText to $url and add $fdText if needed */ -}}
      {{- $cite = printf "<a href=\"%s\">%s</a>%s" $url $urlText $fdText -}}
    {{- else -}}
      {{- /* no $url, just append $fdText to $cite */ -}}
      {{- $cite = add $cite $fdText -}}
    {{- end -}}
  {{- end -}}


  {{- /* BUILDING $attribution STRING */ -}}
  {{- if $author -}}
     {{- $attribution = printf "<b>%s</b>" $author -}}
    {{- if $work -}}
      {{- if $workAuthor -}} {{/* $author, $work, and $workAuthor are set */}}
        {{- $attribution = printf "%s (da %s di %s)" $attribution $cite $workAuthor -}}
      {{- else -}} {{/* $author and $work are set */}}
        {{- $attribution = printf "%s, %s" $attribution $cite -}}
      {{- end -}}
    {{- end -}}
  {{- else -}} {{/* only $work is set */}}
    {{- $attribution = $cite -}}
  {{- end -}}

{{- end -}}

<figure class="box quote">
  <blockquote>{{ markdownify .Inner }}</blockquote>
  <figcaption>{{ safeHTML $attribution }}</figcaption>
</figure>
