{{- /***********************

A video component with:

* `webm` and `mp4` formats,
* `vtt` subtitles,
* `jpg` fallback,

And a Markdown/HTML caption.

Assumptions:

* All files exist and they share the same base name.
* The displayed size of the fallback image is 410 x 230 px.
* A caption is provided (no checks for `figure` and `figcaption` tags).

***********************/ -}}

{{- $name := .Get 0 -}}
{{- $caption := .Get 1 -}}
<figure>
  <video controls>
    <source src="/vid/{{ $name }}.webm" type="video/webm">
    <source src="/vid/{{ $name }}.mp4" type="video/mp4">
    <track src="/vid/{{ $name }}.vtt" srclang="it" kind="captions" default>
    <img src="/vid/{{ $name }}.jpg" alt="" width="410" height="230">
  </video>
  <figcaption>{{ markdownify $caption }}</figcaption>
</figure>
